

#salam{
    text-align: center;
}

.card {
    background-color: white;
    color: black;
    padding: 20px 50px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 6px 6px 16px;
    transition: transform .2s;
}

.card:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
}

.title{
    color: black;
}

#salam{
    padding-top: 30px;
}

.wm{
    text-align: center;
}

h3{
    color: aqua;
}

#idTitle{
    color: black;
}

#cardParent{
    display: grid;
    column-gap: auto;
    grid-template-columns: auto auto auto auto auto;
    /* display: flex;
    /* display: grid; */
    justify-content: space-between; 
    /* grid-template-columns: repeat(5, minmax(0, 1fr)); */
}

#button1{
    box-shadow: inset;
    border-radius: 5px;
}

.container-main{
    display: flex;
}

.pict{
    border-radius: 20px;
}

.c2{
    background-color: rgb(145, 253, 249);
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.portofolio{
    padding: 50px 120px;
}

.bioData{
    text-align: left;
}

.myPict{
    padding-left: 30px;
    border-radius: 50%;
}

.resume{
background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
